.relacionados-container {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #eee;
}

.relacionados-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.relacionados-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.main-title {
  /* 1. Centra el texto horizontalmente */
  text-align: center;
  
  /* 2. Le damos un estilo acorde a tu paleta de colores */
  color: #333; /* Un color de texto oscuro pero no negro puro */
  font-size: 2.5rem; /* Un tamaño de letra más grande e impactante */
  margin-top: 20px; /* Un poco de espacio arriba */
  margin-bottom: 30px; /* Espacio entre el título y los filtros */
  font-weight: 700; /* Un grosor de letra más notable */
}