.navbar{
position : fixed;
bottom : 0;
left: 0;
width: 100%;
background-color: #ffffff ;
border-top: 1px solid #e0e0e0;
box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #888;
  flex-grow: 1;
}
.nav-item.active {
  color: #7b1fa2; /* Morado distintivo */
}
.nav-icon {
  font-size: 24px;
}
.nav-text {
  font-size: 12px;
}
.cart-item {
 position: relative;
  transform: scale(1.2) translateY(-10px);
  background-color: #7b1fa2;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.cart-item.active {
  color: white;
}
.cart-badge {
  position: absolute;
  top: -5px; /* Ajusta para posicionarlo bien */
  right: -5px; /* Ajusta para posicionarlo bien */
  background-color: #e91e63; /* Color llamativo */
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid white;
}